*{
    box-sizing: border-box;
}

#body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0;
    background-color: var(--bg-color);
}

:root{
    --bg-color: #92AED9;
    --light-bg-color: #FFFBE3;
    --dark-text-color: #333333;
    --light-text-color: #fff;
    --btn-color: #57AD56;
}

.main-cont{
    background: var(--bg-color);
}

#h1{
    width: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--light-bg-color);
    margin: 0;
}

h3{
    font-style: normal;
    text-transform: uppercase;
    color: var(--light-text-color);
}

p{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--light-text-color);
}

span{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--dark-text-color);
    margin-top: 0;
    margin-bottom: 10px;
}

#row{
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

.li-cont{
    max-width: 1200px;
    min-width: 800px;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid var(--border-color);
    border-radius: 14px;
    cursor: pointer;
    background: var(--bg-color);
}

.li{
    margin: 20px;
    font-size: 24px;
    list-style-type: none;
    font-weight: bold;
    color: var(--color);
}

.remasterBtn{
    margin-left: auto;
}

.li-delete, .remasterBtn, .doneBtn, .descBtn{
    height: 100px;
    background: var(--bg-color);
    color: var(--color);
    width: 200px;
    font-family: inherit;
    margin-right: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
}

.li-delete:hover, .remasterBtn:hover, .doneBtn:hover, .descBtn:hover{
    border: 3px solid var(--bg-color);
    color: var(--bg-color);
    background: var(--color);
}

.createInput {
    background: none;
    width: 300px;
    height: 60px;
    color: var(--color);
    font-size: 24px;
    font-weight: bold;
    border: 2px solid var(--color);
    margin: 20px;
}
.createInput::placeholder{
    padding: 10px;
    background: var(--color);
    color: var(--bg-color);
    border: 2px solid var(--color);
}

.error, .error2{
    position: absolute;
    height: 100vh;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;

    border-radius: 10px;
    color: var(--border-color);
    font-size: 44px;

    text-align: center;
}

.error{
    top: 0;
    left: 0;
}

.error2{
    top: 0;
    right: 0;
}

.pNone{
    display: none;
}