#color-btns{
    min-width: 250px;
    max-width: 290px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.color-text{
    width: 130px;
}

.color-label input{
    display: none;
}

.color-label input:checked + .color-circle{
    border: 4px solid var(--dark-text-color);
}

#checkedInput{
    border: 4px solid var(--dark-text-color);
}

.color-cont{
    grid-area: color;
    height: 25px;
    width: 150px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.color-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(51, 51, 51, 0.27);
    cursor: pointer;
}
.white-color-btn{
    background: #FFFBE3;
}
.pink-color-btn{
    background: #FFD2D2;
}
.gray-color-btn{
    background: #D3D2FF;
}
.blue-color-btn{
    background: #D7FDD1;
}
.yellow-color-btn{
    background: #F8E1B6;
}