#row{
    width: 100%;
    padding: 150px 0;

    display: flex;
    flex-wrap: wrap;
}

.li-cont{
    min-height: 300px;
    min-width: 277px;
    margin: 10px 0;
    padding: 25px;
    text-align: left;
    background: var(--light-bg-color);

    display: grid;
    grid-template-columns: 195px 30px;
    justify-content: center;
    grid-template-rows: 50px auto 30px;
    grid-template-areas: 'li done' 'p p' 'color delete';
}

@media (max-width: 776px) {
    .li-cont{
        width: 100%;
    }
}

.li{
    grid-area: li;
    list-style-type: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    word-wrap: break-word;
    color: var(--dark-text-color);
}

.doneBtn{
    grid-area: done;
    justify-self: end;
    width: 30px;
    height: 30px;
    background: center / cover;
}

.doneBtn:hover{
    border: 3px solid #29c926;
    border-radius: 50%;
    background: #29c926 center / cover;
}

.li-delete{
    grid-area: delete;
    width: 30px;
    height: 30px;
    border: none;
    background: center / cover;
}

.li-delete:hover{
    border: 3px solid #ff3b28;
    border-radius: 50%;
    background: #ff3c26 center / cover;
}

p{
    grid-area: p;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: justify-all;
    word-wrap: break-word;
}

.createInput {
    height: 22px;
    border: 2px solid var(--bg-color);
    font-weight: bold;
}

.createInput::placeholder{
    color: var(--bg-color);
}

.descInput {
    background: none;
    border: 2px solid var(--bg-color);
    margin-bottom: 10px;
}

.descInput::placeholder{
    color: var(--bg-color);
}

.pNone{
    display: none;
}