*{
    box-sizing: border-box;
}

#body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0;
    background-color: var(--bg-color);
}

:root{
    --bg-color: #92AED9;
    --light-bg-color: #FFFBE3;
    --dark-text-color: #333333;
    --light-text-color: #fff;
    --btn-color: #57AD56;
}

button{
    border: none;
    padding: 0;
}

#main-cont{
    background: var(--bg-color);
    padding: 0;
}

@media (max-width: 576px) {
    #main-cont{
        padding: 0 15px;
    }
}

#h1{
    width: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--light-bg-color);
    margin: 0;
}

h3{
    font-style: normal;
    text-transform: uppercase;
    color: var(--light-text-color);
}

span{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--dark-text-color);
    margin-top: 0;
}

.icon{
    height: 30px;
    width: 30px;

    background: #333333 center/ cover;
}

.icon:hover{
    height: 30px;
    width: 30px;
    background: #92AED9;
}
